# Configuração do PostgreSQL (Local e Produção)
# Em produção (ex: Supabase), pegue as chaves da dashboard do Supabase (Database Settings)
# Geralmente o Supabase fornece uma String de conexão (DATABASE_URL)
DATABASE_URL="postgresql://postgres:postgres@localhost:5433/ecotech?schema=public"

# Configuração JWT
JWT_SECRET="supersecretkey123"

# Configuração do Redis (BullMQ / CacheManager)
# Em produção, você precisará criar um Redis (ex: Upstash ou Render Managed Redis)
REDIS_HOST="localhost"
REDIS_PORT="6379"

# Configuração Maileroo (E-mails)
MAILEROO_API_KEY="3608ff3ef1335724a6bad079a41d4efa112977a66b3d035240b75a81237b2fdc"

# Configuração de CORS / Frontend
PORT="3333"
FRONTEND_URL="http://localhost:3000"

# Usado para compor links de PDFs e QR Codes
NEXT_PUBLIC_APP_URL="http://localhost:3000"
